[project]
	description = AndroidKickstartR helps you to quickly create a well configured Android application using the most popular libraries. It creates and configures your project for you. Just focus on code!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mlevytskiy
[access "refs/for/refs/*"]
	read = group user/mlevytskiy
	push = group user/mlevytskiy
	label-Code-Review = -2..+2 group user/mlevytskiy
	label-Verified = -1..+1 group user/mlevytskiy
	rebase = group user/mlevytskiy
	removeReviewer = group user/mlevytskiy
	submit = group user/mlevytskiy
[access "refs/heads/*"]
	read = group user/mlevytskiy
	create = group user/mlevytskiy
	push = +force group user/mlevytskiy
	pushMerge = group user/mlevytskiy
[access "refs/tags/*"]
	push = +force group user/mlevytskiy
	pushTag = group user/mlevytskiy
	pushSignedTag = group user/mlevytskiy
